Rule-Based/Node Red.json
[
    {
        "id": "aef43f9a831a4602",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5eca05ef0549655c",
        "type": "ui_gauge",
        "z": "aef43f9a831a4602",
        "name": "",
        "group": "5bb628f84331b46d",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Earth Humidity Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 540,
        "wires": []
    },
    {
        "id": "3e74bd8bc135e635",
        "type": "ui_chart",
        "z": "aef43f9a831a4602",
        "name": "",
        "group": "461a535ea8f34015",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Air Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "78df97fadd9601c2",
        "type": "mqtt in",
        "z": "aef43f9a831a4602",
        "name": "",
        "topic": "esp32/sensors/humidityAndTemperatureOfAir",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "836c06fc491155cd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "77057b14c3bbcec3",
                "00e783837971d175"
            ]
        ]
    },
    {
        "id": "904ab4b3c7bc65fa",
        "type": "ui_chart",
        "z": "aef43f9a831a4602",
        "name": "",
        "group": "5d3227646c377a17",
        "order": 12,
        "width": 0,
        "height": 0,
        "label": "Analog Luminance Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "8110467ca643a5f7",
        "type": "ui_text",
        "z": "aef43f9a831a4602",
        "group": "2c750c86e423e25e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Air Temperature LED",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1140,
        "y": 420,
        "wires": []
    },
    {
        "id": "a837800f228510f7",
        "type": "mqtt in",
        "z": "aef43f9a831a4602",
        "name": "",
        "topic": "esp32/sensors/humidityOfEarth",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "836c06fc491155cd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 580,
        "wires": [
            [
                "5eca05ef0549655c",
                "bc2704cf5d28274d",
                "32f634de8d95ec1e",
                "36a1ace9226bdef4"
            ]
        ]
    },
    {
        "id": "b612f91adcfb07a0",
        "type": "ui_gauge",
        "z": "aef43f9a831a4602",
        "name": "",
        "group": "461a535ea8f34015",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Humidity Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "686911f130c41898",
        "type": "ui_gauge",
        "z": "aef43f9a831a4602",
        "name": "",
        "group": "2c750c86e423e25e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Temperature Gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 380,
        "wires": []
    },
    {
        "id": "9a1fb99d2348918f",
        "type": "ui_chart",
        "z": "aef43f9a831a4602",
        "name": "",
        "group": "2c750c86e423e25e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Air Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7c4f1098ae5819d7",
        "type": "mqtt in",
        "z": "aef43f9a831a4602",
        "name": "",
        "topic": "esp32/actuator/servo",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "836c06fc491155cd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 1180,
        "wires": [
            [
                "112b384cf289a327"
            ]
        ]
    },
    {
        "id": "77057b14c3bbcec3",
        "type": "function",
        "z": "aef43f9a831a4602",
        "name": "Extract Air Humidity",
        "func": "var input = msg.payload;\n\ninput = input.trim();\n\nvar values = input.split(',');\n\nvalues = values.map(function (value){\n    return parseFloat(value.trim());\n})\n\nmsg.payload = values[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 120,
        "wires": [
            [
                "b3cd9e3697a79fe5",
                "f0abd16ddbe42692",
                "b612f91adcfb07a0",
                "3e74bd8bc135e635"
            ]
        ]
    },
    {
        "id": "fb23f9963307e9e6",
        "type": "ui_text",
        "z": "aef43f9a831a4602",
        "group": "5bb628f84331b46d",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Earth Humidity LED",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 680,
        "wires": []
    },
    {
        "id": "2171b2ace27bab98",
        "type": "ui_text",
        "z": "aef43f9a831a4602",
        "group": "5d3227646c377a17",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Luminance LED",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 940,
        "wires": []
    },
    {
        "id": "95ccbd07179f0e80",
        "type": "ui_text",
        "z": "aef43f9a831a4602",
        "group": "461a535ea8f34015",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Air Humidity LED",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 180,
        "wires": []
    },
    {
        "id": "4eadb16f707f4cde",
        "type": "ui_text",
        "z": "aef43f9a831a4602",
        "group": "",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "pH LED",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 1100,
        "wires": []
    },
    {
        "id": "1c4c2a54cea416ba",
        "type": "mqtt in",
        "z": "aef43f9a831a4602",
        "name": "",
        "topic": "esp32/sensors/luminance",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "836c06fc491155cd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 840,
        "wires": [
            [
                "b1fbf9c229407af3",
                "904ab4b3c7bc65fa",
                "915260b55fef448a",
                "8ad55f65d8f4d673"
            ]
        ]
    },
    {
        "id": "b1fbf9c229407af3",
        "type": "ui_gauge",
        "z": "aef43f9a831a4602",
        "name": "",
        "group": "5d3227646c377a17",
        "order": 11,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Analog Luminance Gauge",
        "label": "lux",
        "format": "{{value}}",
        "min": "0",
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 800,
        "wires": []
    },
    {
        "id": "bc2704cf5d28274d",
        "type": "ui_chart",
        "z": "aef43f9a831a4602",
        "name": "",
        "group": "5bb628f84331b46d",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Earth Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e995f75f4aae8b64",
        "type": "mqtt in",
        "z": "aef43f9a831a4602",
        "name": "",
        "topic": "esp32/sensors/phOfEarth",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "836c06fc491155cd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1060,
        "wires": [
            [
                "df42202e6cb418b4",
                "2ff93e268512e65e",
                "eea19f3409323105"
            ]
        ]
    },
    {
        "id": "df42202e6cb418b4",
        "type": "ui_gauge",
        "z": "aef43f9a831a4602",
        "name": "",
        "group": "",
        "order": 14,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pH Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 1060,
        "wires": []
    },
    {
        "id": "915260b55fef448a",
        "type": "function",
        "z": "aef43f9a831a4602",
        "name": "Luminance Threshold",
        "func": "var value = msg.payload;\n\nif(value <= 10000 && value >= 8000){\n    msg.payload = \"NORMAL\"\n} else {\n    msg.payload = \"NOT NORMAL\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 940,
        "wires": [
            [
                "2171b2ace27bab98"
            ]
        ]
    },
    {
        "id": "a96d7d3ca7d8057a",
        "type": "function",
        "z": "aef43f9a831a4602",
        "name": "Air Temperature Threshold",
        "func": "var value = msg.payload;\n\nif(value <= 26 && value >= 18){\n    msg.payload = \"NORMAL\"\n} else {\n    msg.payload = \"NOT NORMAL\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 420,
        "wires": [
            [
                "8110467ca643a5f7"
            ]
        ]
    },
    {
        "id": "32f634de8d95ec1e",
        "type": "function",
        "z": "aef43f9a831a4602",
        "name": "Earth Humidity Threshold",
        "func": "var value = msg.payload;\n\nif(value <= 80 && value >= 60){\n    msg.payload = \"NORMAL\"\n} else {\n    msg.payload = \"NOT NORMAL\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 680,
        "wires": [
            [
                "fb23f9963307e9e6"
            ]
        ]
    },
    {
        "id": "f0abd16ddbe42692",
        "type": "function",
        "z": "aef43f9a831a4602",
        "name": "Air Humidity Threshold",
        "func": "var value = msg.payload;\n\nif(value >= 65 && value <= 85){\n    msg.payload = \"NORMAL\"\n} else {\n    msg.payload = \"NOT NORMAL\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 180,
        "wires": [
            [
                "95ccbd07179f0e80"
            ]
        ]
    },
    {
        "id": "2ff93e268512e65e",
        "type": "function",
        "z": "aef43f9a831a4602",
        "name": "pH Threshold",
        "func": "var value = msg.payload;\n\nif(value <= 7 && value >=6){\n    msg.payload = \"NORMAL\"\n} else {\n    msg.payload = \"NOT NORMAL\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1100,
        "wires": [
            [
                "4eadb16f707f4cde"
            ]
        ]
    },
    {
        "id": "5cc41b1a7d6ef877",
        "type": "file",
        "z": "aef43f9a831a4602",
        "name": "",
        "filename": "/home/adi/iot/air_humidity_datalog.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1070,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b3cd9e3697a79fe5",
        "type": "function",
        "z": "aef43f9a831a4602",
        "name": "Add timestamp",
        "func": "var timestamp = new Date().toISOString();\nvar value = msg.payload;\n\nmsg.payload = timestamp + \", \" + value;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 60,
        "wires": [
            [
                "5cc41b1a7d6ef877"
            ]
        ]
    },
    {
        "id": "c9c4fb4aede69d5c",
        "type": "function",
        "z": "aef43f9a831a4602",
        "name": "Add timestamp",
        "func": "var timestamp = new Date().toISOString();\nvar value = msg.payload;\n\nmsg.payload = timestamp + \", \" + value;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 300,
        "wires": [
            [
                "7d5470674fc1a468"
            ]
        ]
    },
    {
        "id": "7d5470674fc1a468",
        "type": "file",
        "z": "aef43f9a831a4602",
        "name": "",
        "filename": "/home/air/iot/air_temperature_datalog.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1120,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "36a1ace9226bdef4",
        "type": "function",
        "z": "aef43f9a831a4602",
        "name": "Add timestamp",
        "func": "var timestamp = new Date().toISOString();\nvar value = msg.payload;\n\nmsg.payload = timestamp + \", \" + value;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 480,
        "wires": [
            [
                "d3c1b112bb2448cd"
            ]
        ]
    },
    {
        "id": "d3c1b112bb2448cd",
        "type": "file",
        "z": "aef43f9a831a4602",
        "name": "",
        "filename": "/home/adi/iot/earth_humidity_datalog.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 840,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8ad55f65d8f4d673",
        "type": "function",
        "z": "aef43f9a831a4602",
        "name": "Add timestamp",
        "func": "var timestamp = new Date().toISOString();\nvar value = msg.payload;\n\nmsg.payload = timestamp + \", \" + value;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 760,
        "wires": [
            [
                "6f2a182d66502de2"
            ]
        ]
    },
    {
        "id": "eea19f3409323105",
        "type": "function",
        "z": "aef43f9a831a4602",
        "name": "Add timestamp",
        "func": "var timestamp = new Date().toISOString();\nvar value = msg.payload;\n\nmsg.payload = timestamp + \", \" + value;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1020,
        "wires": [
            [
                "02c87383dcf3e4b2"
            ]
        ]
    },
    {
        "id": "02c87383dcf3e4b2",
        "type": "file",
        "z": "aef43f9a831a4602",
        "name": "",
        "filename": "/home/adi/iot/earth_ph_datalog.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 820,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "6f2a182d66502de2",
        "type": "file",
        "z": "aef43f9a831a4602",
        "name": "",
        "filename": "/home/adi/iot/luminance_datalog.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 830,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "00e783837971d175",
        "type": "function",
        "z": "aef43f9a831a4602",
        "name": "Extract Air Temperature",
        "func": "var input = msg.payload;\n\ninput = input.trim();\n\nvar values = input.split(',');\n\nvalues = values.map(function (value){\n    return parseFloat(value.trim());\n})\n\nmsg.payload = values[1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 360,
        "wires": [
            [
                "c9c4fb4aede69d5c",
                "9a1fb99d2348918f",
                "686911f130c41898",
                "a96d7d3ca7d8057a"
            ]
        ]
    },
    {
        "id": "112b384cf289a327",
        "type": "ui_text",
        "z": "aef43f9a831a4602",
        "group": "840bfc8949d11552",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Servo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 1180,
        "wires": []
    },
    {
        "id": "656065887262ecd8",
        "type": "ui_spacer",
        "z": "aef43f9a831a4602",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "5bb628f84331b46d",
        "type": "ui_group",
        "name": "Earth Humidity",
        "tab": "1c64395ede1ba42f",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "461a535ea8f34015",
        "type": "ui_group",
        "name": "Air Humidity",
        "tab": "1c64395ede1ba42f",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "836c06fc491155cd",
        "type": "mqtt-broker",
        "name": "MQTTX",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5d3227646c377a17",
        "type": "ui_group",
        "name": "Luminance",
        "tab": "1c64395ede1ba42f",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c750c86e423e25e",
        "type": "ui_group",
        "name": "Air Temperature",
        "tab": "1c64395ede1ba42f",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "840bfc8949d11552",
        "type": "ui_group",
        "name": "Our Dashboard",
        "tab": "1c64395ede1ba42f",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c64395ede1ba42f",
        "type": "ui_tab",
        "name": "Chili-Hub",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
